@font-face {
    font-family: 'HK Grotesk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Regular'), url('fonts/HKGrotesk-Regular.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Regular Legacy';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Regular Legacy'), url('fonts/HKGrotesk-RegularLegacy.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Italic'), url('fonts/fonts/HKGrotesk-Italic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Legacy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Legacy Italic'), url('fonts/fonts/HKGrotesk-LegacyItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Light';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Light'), url('fonts/fonts/HKGrotesk-Light.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Light Legacy';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Light Legacy'), url('fonts/fonts/HKGrotesk-LightLegacy.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Light Italic'), url('fonts/fonts/HKGrotesk-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Light Legacy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Light Legacy Italic'), url('fonts/fonts/HKGrotesk-LightLegacyItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Medium';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Medium'), url('fonts/fonts/HKGrotesk-Medium.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Medium Legacy'), url('fonts/fonts/HKGrotesk-MediumLegacy.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Medium Italic'), url('fonts/fonts/HKGrotesk-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Medium Legacy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Medium Legacy Italic'), url('fonts/fonts/HKGrotesk-MediumLegacyItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk SemiBold'), url('fonts/HKGrotesk-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk SemiBold Legacy';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk SemiBold Legacy'), url('fonts/HKGrotesk-SemiBoldLegacy.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk SemiBold Italic'), url('fonts/HKGrotesk-SemiBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk SemiBold Legacy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk SemiBold Legacy Italic'), url('fonts/HKGrotesk-SemiBoldLegacyItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Bold';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Bold'), url('fonts/HKGrotesk-Bold.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Bold Legacy';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Bold Legacy'), url('fonts/HKGrotesk-BoldLegacy.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Bold Italic'), url('fonts/HKGrotesk-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'HK Grotesk Bold Legacy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Bold Legacy Italic'), url('fonts/HKGrotesk-BoldLegacyItalic.woff') format('woff');
}