*{
    font-family: 'HK Grotesk';
}
html {
    font-size: 62.5%; 
}

.container{
    width:90%;
    height: 85vh;
    border:1px solid red;
    display:flex;
    margin-top:5rem;
}

.left-container{
    border:2px solid orange;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container .title-container{
    border:2px solid violet;
    width:90%;
    margin-left:10%;

}

.left-container .title-container h1{
    font-weight: 400;
    font-size: 2.5rem;
    margin:1rem;
    margin-left:0;
}

.left-container .title-container h2{
    margin:0;
    font-weight: 400;
}

.left-container .context-container{
    border:2px solid blue;
    width:90%;
    margin-left:10%;
}

.left-container .context-container h4{
    font-weight: 400;
    font-size: 2.5rem;
    margin:1rem;
    margin-left:0;
}

.left-container .context-container b {
    font-family: minion-pro, serif;
    font-style: italic;
    color:#000396;
}

.left-container .image-container{
    border:2px solid slateblue;
}