*{
    font-family: 'HK Grotesk';
    color:#2D3047;
}
html {
    font-size: 62.5%; 
}

.container{
    width:95%;
    height: 85vh;
    /* border:1px solid red; */
    display:flex;
    margin-top:4rem;
    justify-content: space-between;
}

.left-container{
    /* border:2px solid orange; */
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container .title-container{
    /* border:2px solid violet; */
    width:90%;
    margin-left:10%;

}

.left-container .title-container h1{
    font-weight: 400;
    font-size: 2.5rem;
    margin:1rem;
    margin-left:0;
}

.left-container .title-container h2{
    margin:0;
    font-weight: 400;
}

.left-container .context-container{
    /* border:2px solid blue; */
    width:90%;
    margin-left:10%;
}

.left-container .context-container h4{
    font-weight: 400;
    font-size: 2.5rem;
    margin:1rem;
    margin-left:0;
    line-height: 4rem;
}

.left-container .context-container b {
    font-family: minion-pro, serif;
    font-style: italic;
    color:#000396;
}

.left-container .image-container{
    /* border:2px solid slateblue; */
}

.right-container{
    /* border:2px solid black; */
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.right-container .content-container{
    /* border:2px solid plum; */
    margin-top:4rem; 
}

.right-container .content-container .description{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.right-container .content-container h3{
    font-size:2rem;
    font-weight: 400;
    margin:0;
    line-height: 3rem;
}

.right-container .content-container .blue-title{
    font-family: minion-pro, serif;
    font-style: italic;
    color:#000396;
    font-weight: 600;
}


.square-text{
    /* border:2px solid green; */
    display:flex;
    align-items: center;
    height: 4rem;
}

.first{
    margin-top: 3rem;
}

.square-text img{
    height:30%;
    margin-right:1rem;
}

.square-text p{
    font-size: 1.5rem;
}

 .mini-footer{
    /* border:2px solid red; */
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    width:10%;
    float: right;
}

 .mini-footer img{
    height: 50%;

    margin-right:1rem;
}

 .mini-footer p{
   font-size: 1.5rem; 
   color:#B5BEC5;
}

a{
    text-decoration: none;
    font-weight: 700;
}